<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackaton.notice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.hackaton.notice.FuckYouApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.splash.SplashScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">

        </activity>

        <activity
            android:name="com.hackaton.notice.view.dashboard.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".view.quiz.QuizActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="62bbfb2242dd06cba0548a6386bd02463a9cfc36" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

    </application>

</manifest>